
.normal {
  /* background: rgb(140, 206, 183); */
  text-align: center;
}

.h1 {
  margin: 20px;
  margin-bottom: 0px;
  color: black;
}

.img {
  margin-top: -64px;
  margin-left: 307px;
  margin-bottom: 0px;
}

.block {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(103, 214, 248);
  min-height: 60px;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
}
